[submodule "Vaccination-Management-System"]
	path = Vaccination-Management-System
	url = https://github.com/DeepakVK15/Vaccination-Management-System.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/DeepakVK15/frontend.git
